# 3803ICT Big Data Assignment

## PART 1 DATA PREPERATION AND PRE-PROCESSING

### Describe the data set

The data consists of 12 categories these are:
- Id - An 8 digit number used to uniquely identify each record.
- Title - A string representing the name of the job.
- Company - A string representing the name of the company the job is for.
- Date - The date that the job was put up.
- Location - A string representing where the job is.
- Area - A string representing what area within the location the job is.
- Classification - A string representing what type of industry the job is in.
- SubClassification - A string describing what the specific job is.
- Requirement - A string containing brief description of who is being sought in the job posting.
- FullDescription - A string containing the full description of the job posting.
- LowestSalary - A float containing the minimum amount the salary is, in thousands of dollars.
- HighestSalary - A float containg the maximum amount the salary is, in thousands of dollars.
- JobType - What type of contract the job is offered on i.e part time, full time, casual etc...

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import re

In [2]:
baseDataFrame = pd.read_csv('data/data.csv', low_memory=False)
print("The Dataset consists of: ", baseDataFrame.shape[0], " rows and ", baseDataFrame.shape[1], " columuns")
baseDataFrame.head(10)

The Dataset consists of:  318477  rows and  13  columuns

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN
5,37404307,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Customer Service - Call Centre,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN
6,37404355,Casual Café All-rounder in Semaphore,Jora Local,2018-10-07T00:00:00.000Z,Adelaide,NaN,Hospitality & Tourism,Waiting Staff,A cafe/restaurant in Semaphore is seeking a ca...,NaN,0,30,NaN
7,37404350,Casual Café All-rounder in Woolloongabba,Jora Local,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Waiting Staff,A cafe in Woolloongabba is seeking a casual Ca...,NaN,0,30,NaN
8,37404301,Telemarketer,Reventon Investments,2018-10-07T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Sales - Outbound,Market leading investment & financial services...,NaN,0,30,NaN
9,37404286,Casual Dish Hand in Brighton,Jora Local,2018-10-07T00:00:00.000Z,Melbourne,Bayside & South Eastern Suburbs,Hospitality & Tourism,Kitchen & Sandwich Hands,A restaurant in Brighton is seeking a casual D...,NaN,0,30,NaN

In [3]:
baseDataFrame.dtypes

Id                   object
Title                object
Company              object
Date                 object
Location             object
Area                 object
Classification       object
SubClassification    object
Requirement          object
FullDescription      object
LowestSalary          int64
HighestSalary         int64
JobType              object
dtype: object

In [4]:
#Clean date since the time is not correct
baseDataFrame["Date"] = baseDataFrame["Date"].replace(to_replace=r'T.*', value='', regex=True)
baseDataFrame["Date"] = pd.to_datetime(baseDataFrame["Date"])

baseDataFrame.dtypes

Id                           object
Title                        object
Company                      object
Date                 datetime64[ns]
Location                     object
Area                         object
Classification               object
SubClassification            object
Requirement                  object
FullDescription              object
LowestSalary                  int64
HighestSalary                 int64
JobType                      object
dtype: object

In [5]:
# Clear HTML tags from Full Description if they're present
# Only uncomment when required - this code takes a significant amount of time to process.
# from bs4 import BeautifulSoup
# for row in range(0, len(baseDataFrame["FullDescription"])):
#     soup = BeautifulSoup(baseDataFrame["FullDescription"][row])
#     baseDataFrame["FullDescription"][row] = soup.get_text()
# baseDataFrame.head(200)

In [7]:
# Include average salary for use in analysis
baseDataFrame = baseDataFrame.assign(AverageSalary= (baseDataFrame["LowestSalary"] + baseDataFrame["HighestSalary"])/2 )

# Include salaray range for use in analysis
baseDataFrame = baseDataFrame.assign(SalaryRange= (baseDataFrame["HighestSalary"] - baseDataFrame["LowestSalary"]) )

baseDataFrame.head(10)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType,AverageSalary,SalaryRange
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN,15.0,30
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN,15.0,30
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN,15.0,30
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN,15.0,30
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN,15.0,30
5,37404307,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Customer Service - Call Centre,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN,15.0,30
6,37404355,Casual Café All-rounder in Semaphore,Jora Local,2018-10-07,Adelaide,NaN,Hospitality & Tourism,Waiting Staff,A cafe/restaurant in Semaphore is seeking a ca...,NaN,0,30,NaN,15.0,30
7,37404350,Casual Café All-rounder in Woolloongabba,Jora Local,2018-10-07,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Waiting Staff,A cafe in Woolloongabba is seeking a casual Ca...,NaN,0,30,NaN,15.0,30
8,37404301,Telemarketer,Reventon Investments,2018-10-07,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Sales - Outbound,Market leading investment & financial services...,NaN,0,30,NaN,15.0,30
9,37404286,Casual Dish Hand in Brighton,Jora Local,2018-10-07,Melbourne,Bayside & South Eastern Suburbs,Hospitality & Tourism,Kitchen & Sandwich Hands,A restaurant in Brighton is seeking a casual D...,NaN,0,30,NaN,15.0,30

In [8]:
# Cull any data past the 8 digit ID and change type to ID
baseDataFrame['Id'] = baseDataFrame['Id'].apply(lambda x: x[:8])
baseDataFrame = baseDataFrame.astype({"Id": int})
baseDataFrame.dtypes

Id                            int32
Title                        object
Company                      object
Date                 datetime64[ns]
Location                     object
Area                         object
Classification               object
SubClassification            object
Requirement                  object
FullDescription              object
LowestSalary                  int64
HighestSalary                 int64
JobType                      object
AverageSalary               float64
SalaryRange                   int64
dtype: object

In [23]:
# Print the domains of all non-freeform fields
# Free-form fields are Requirement and FullDescription, where each entry is expected to be unique so the domain is limitless.
print(f"ID: [{min(baseDataFrame['Id'])}, {max(baseDataFrame['Id'])}] (mathematical domain)")
print(f"Date: {min(baseDataFrame['Date'])} to {max(baseDataFrame['Date'])} (date range)")
print(f"Location: {baseDataFrame.Location.unique()}")
print(f"Area: {baseDataFrame.Area.unique()}")
print(f"Classification: {baseDataFrame.Classification.unique()}")
print(f"Sub-Classification: {baseDataFrame.SubClassification.unique()}")
print(f"Job Type: {baseDataFrame.JobType.unique()}")
print(f"Lowest Salary: [{min(baseDataFrame['LowestSalary'])}, {max(baseDataFrame['LowestSalary'])}] (mathematical domain)")
print(f"Highest Salary: [{min(baseDataFrame['HighestSalary'])}, {max(baseDataFrame['HighestSalary'])}] (mathematical domain)")
print(f"Average Salary: [{min(baseDataFrame['AverageSalary'])}, {max(baseDataFrame['AverageSalary'])}] (mathematical domain)")
print(f"Salary Range: [{min(baseDataFrame['SalaryRange'])}, {max(baseDataFrame['SalaryRange'])}] (mathematical domain)")

ID: [31671087, 38566133] (mathematical domain)
Date: 2018-10-01 00:00:00 to 2019-03-13 00:00:00 (date range)
Location: ['Sydney' 'Richmond & Hawkesbury' 'Brisbane' 'Gosford & Central Coast'
 'Adelaide' 'Melbourne' 'Perth' 'Mackay & Coalfields' 'Sunshine Coast'
 'Gold Coast' 'West Gippsland & Latrobe Valley'
 'Hervey Bay & Fraser Coast' 'South West Coast VIC'
 'Mornington Peninsula & Bass Coast' 'Port Hedland, Karratha & Pilbara'
 'Ballarat & Central Highlands' 'Bendigo, Goldfields & Macedon Ranges'
 'Yarra Valley & High Country' 'Coffs Harbour & North Coast'
 'Newcastle, Maitland & Hunter' 'Tumut, Snowy & Monaro' 'Darwin'
 'Toowoomba & Darling Downs' 'ACT' 'Wollongong, Illawarra & South Coast'
 'Port Macquarie & Mid North Coast' 'Southern Highlands & Tablelands'
 'Albury Area' 'Yorke Peninsula & Clare Valley'
 'Kalgoorlie, Goldfields & Esperance' 'Far West & North Central NSW'
 'Cairns & Far North' 'Wagga Wagga & Riverina' 'Lismore & Far North Coast'
 'Alice Springs & Central Australia' 'Dubbo & Central NSW'
 'Devonport & North West' 'Launceston & North East'
 'Whyalla & Eyre Peninsula' 'Northern QLD' 'Bunbury & South West' 'Hobart'
 'Geraldton, Gascoyne & Midwest' 'Katherine & Northern Australia'
 'Adelaide Hills & Barossa' 'Riverland & Murray Mallee'
 'Horsham & Grampians' 'Rockhampton & Capricorn Coast'
 'Shepparton & Goulburn Valley' 'Bairnsdale & Gippsland'
 'Mt Gambier & Limestone Coast' 'Blue Mountains & Central West'
 'Mildura & Murray' 'Gladstone & Central QLD' 'Somerset & Lockyer'
 'Western QLD' 'Albany & Great Southern' 'Broome & Kimberley'
 'Bundaberg & Wide Bay Burnett' 'Mandurah & Peel'
 'Fleurieu Peninsula & Kangaroo Island' 'Northam & Wheatbelt'
 'Tamworth & North West NSW' 'Central & South East TAS'
 'Coober Pedy & Outback SA' nan]
Area: ['North West & Hills District' nan 'CBD & Inner Suburbs'
 'Ryde & Macquarie Park' 'Bayside & South Eastern Suburbs'
 'Eastern Suburbs' 'Western Suburbs' 'Parramatta & Western Suburbs'
 'Northern Suburbs' 'Western Suburbs & Ipswich'
 'CBD, Inner West & Eastern Suburbs' 'South West & M5 Corridor'
 'CBD, Inner & Western Suburbs' 'Northern Suburbs & Joondalup'
 'Fremantle & Southern Suburbs' 'Southern Suburbs & Sutherland Shire'
 'North Shore & Northern Beaches' 'Southern Suburbs & Logan'
 'Bayside & Eastern Suburbs' 'Rockingham & Kwinana']
Classification: ['Retail & Consumer Products' 'Call Centre & Customer Service'
 'Hospitality & Tourism' 'Banking & Financial Services'
 'Manufacturing, Transport & Logistics' 'Sales'
 'Administration & Office Support' 'Trades & Services' 'Accounting'
 'Real Estate & Property' 'Healthcare & Medical'
 'Marketing & Communications' 'Government & Defence'
 'Information & Communication Technology' 'Education & Training'
 'Community Services & Development' 'Mining, Resources & Energy'
 'Human Resources & Recruitment' 'Insurance & Superannuation'
 'Engineering' 'CEO & General Management' 'Design & Architecture' 'Legal'
 'Construction' 'Sport & Recreation' 'Science & Technology'
 'Advertising, Arts & Media' 'Farming, Animals & Conservation'
 'Self Employment' 'Consulting & Strategy' nan]
Sub-Classification: ['Retail Assistants' 'Sales - Inbound' 'Customer Service - Call Centre'
 'Waiting Staff' 'Sales - Outbound' 'Kitchen & Sandwich Hands'
 'Banking - Retail/Branch' 'Customer Service - Customer Facing'
 'Bar & Beverage Staff' 'Housekeeping' 'Other' 'Assembly & Process Work'
 'Purchasing, Procurement & Inventory' 'Sales Representatives/Consultants'
 'Chefs/Cooks' 'Records Management & Document Control'
 'Analysis & Reporting' 'Office Management'
 'Warehousing, Storage & Distribution' 'Security Services'
 'Administrative Assistants' 'Management - Store'
 'Contracts Administration' 'Road Transport'
 'Front Office & Guest Services' 'PA, EA & Secretarial'
 'Team Leaders/Supervisors' 'Cleaning Services'
 'Bookkeeping & Small Practice Accounting'
 'Commercial Sales, Leasing & Property Mgmt' 'New Business Development'
 'Management - Department/Assistant' 'Hair & Beauty Services'
 'Residential Leasing & Property Management' 'Administration'
 'Bakers & Pastry Chefs' 'Dental' 'Product Management & Development'
 'Government - State' 'Account & Relationship Management' 'Management'
 'Residential Sales' 'Help Desk & IT Support' 'Automotive Trades'
 'Childcare & Outside School Hours Care' 'Pharmacy' 'Sales - Pre & Post'
 'Teaching - Vocational' 'Mining - Drill & Blast'
 'Management Accounting & Budgeting' 'Workplace Training & Assessment'
 'Physiotherapy, OT & Rehabilitation' 'Management - Internal' 'Mortgages'
 'Welders & Boilermakers' 'Claims' 'Rail & Maritime Transport'
 'Body Corporate & Facilities Management' 'Teaching - Secondary'
 'Banking - Business' 'Teaching - Early Childhood'
 'Mechanical Engineering' 'Networks & Systems Administration'
 'Programme & Project Management' 'General/Business Unit Manager'
 'Remuneration & Benefits' 'Business Services & Corporate Advisory'
 'Illustration & Animation' 'Government - Federal'
 'Maintenance & Handyperson Services' 'Environment & Planning Law'
 'Security' 'Financial Accounting & Reporting' 'Electricians'
 'Nursing - A&E, Critical Care & ICU' 'Consultants'
 'Psychology, Counselling & Social Work' 'Architects'
 'Foreperson/Supervisors' 'Compliance & Risk' 'Technicians'
 'Audit - External' 'Analysts' 'Teaching - Tertiary' 'Audit - Internal'
 'Emergency Services' 'Research & Fellowships' 'Stockbroking & Trading'
 'Corporate Finance & Investment Banking' 'Digital & Search Marketing'
 'Sales' 'Project Management' 'Contracts Management'
 'Financial Managers & Controllers' 'Clinical/Medical Research'
 'Business/Systems Analysts' 'Medical Administration'
 'Fitness & Personal Training' 'Systems Accounting & IT Audit'
 'Gardening & Landscaping' 'Fitters, Turners & Machinists'
 'General Practitioners' 'Mining - Operations' 'Nursing - Aged Care'
 'Labourers' 'Production, Planning & Scheduling' 'Architecture'
 'Developers/Programmers' 'Surveying' 'Teaching - Primary'
 'Chemistry & Physics' 'Media Strategy, Planning & Buying'
 'Direct Marketing & CRM' 'Financial Planning' 'Marketing Communications'
 'Management - Agency' 'Speech Therapy' 'Graphic Design'
 'Mining - Engineering & Maintenance' 'Medical Imaging'
 'Web Development & Production' 'Plumbers' 'Taxation'
 'Occupational Health & Safety' 'Client & Sales Administration'
 'Receptionists' 'Engineering - Software'
 'Mining - Exploration & Geoscience' 'Payroll' 'Legal Secretaries'
 'Architectural Drafting' 'Coaching & Instruction' 'Government - Local'
 'Nursing - General Medical & Surgical'
 'Natural Therapies & Alternative Medicine' 'Pickers & Packers' 'Credit'
 'Civil/Structural Engineering' 'Plant & Machinery Operators'
 'Employment Services' 'Building Trades'
 'Accounts Receivable/Credit Control' 'Property Law' 'Client Services'
 'Marketing Assistants/Coordinators' 'Horticulture'
 'Water & Waste Engineering' 'Nursing - Theatre & Recovery'
 'Community Development' 'Optical' 'Machine Operators'
 'Aged & Disability Support' 'Carpentry & Cabinet Making'
 'Recruitment - Agency' 'Accounts Officers/Clerks'
 'Couriers, Drivers & Postal Services' 'Locksmiths'
 'Market Research & Analysis' 'Air Conditioning & Refrigeration'
 'Pharmaceuticals & Medical Devices' 'Maintenance' 'Nursing - Management'
 'Assistant Accountants' 'Self Employment' 'Field Engineering'
 'Estimating' 'Consulting & Generalist HR' 'Engineering - Network'
 'Building Services Engineering' 'Project Engineering'
 'Engineering Drafting' 'Industrial Design' 'Planning' 'Tour Guides'
 'Accounts Payable' 'Environmental Engineering' 'Butchers'
 'Management - Universities' 'Housing & Homelessness Services'
 'Legal Practice Management' 'Natural Resources & Water'
 'Management - Schools' 'Retail & Property Development' 'Farm Labour'
 'Child Welfare, Youth & Family Services' 'Travel Agents/Consultants'
 'Interior Design' 'Health, Safety & Environment'
 'Corporate & Commercial Law' 'Environmental, Earth & Geosciences'
 'Biological & Biomedical Sciences' 'Chemical Engineering'
 'Electrical/Electronic Engineering' 'Ambulance/Paramedics' 'Team Leaders'
 'Medical Specialists' 'Testing & Quality Assurance'
 'Database Development & Administration' 'Tailors & Dressmakers'
 'Programming & Production' "Workers' Compensation" 'Journalism & Writing'
 'Fashion & Textile Design' 'Editing & Publishing' 'Reservations'
 'Generalists - In-house' 'Power Generation & Distribution'
 'Management - Vocational' 'Strategy & Planning'
 'Nursing - Psych, Forensic & Correctional Health'
 'Web & Interaction Design' 'Tax Law' 'Aviation Services'
 'Oil & Gas - Operations' 'Litigation & Dispute Resolution'
 'Brand Management' 'Nursing - Midwifery, Neo-Natal, SCN & NICU'
 'Planning & Scheduling' 'Nursing - Community, Maternal & Child Health'
 'Telecommunications' 'Company Secretaries' 'Management & Support'
 'Generalists - Law Firm' 'Recruitment - Internal' 'Promotions'
 'Quality Assurance & Control' 'Farm Management'
 'Printing & Publishing Services' 'Funds Management' 'Sales Coordinators'
 'Urban Design & Planning' 'Import/Export & Customs' 'Buying'
 'Painters & Sign Writers' 'Agency Account Management'
 'Management - Area/Multi-site' 'Supervisors/Team Leaders'
 'Nursing - Paediatric & PICU' 'Systems Engineering'
 'Insurance & Superannuation Law' 'Student Services'
 'Library Services & Information Management' 'Law Clerks & Paralegals'
 'Collections' 'Pathology' 'Freight/Cargo Forwarding'
 'Policy, Planning & Regulation' 'Veterinary Services & Animal Welfare'
 'Nursing - High Acuity' 'Construction Law'
 'Oil & Gas - Engineering & Maintenance' 'Industrial Engineering'
 'Mining - Processing' 'Technical Writing'
 'Nursing - Educators & Facilitators'
 'Industrial Relations & Employment Law' 'Process Engineering'
 'Fishing & Aquaculture' 'Laboratory & Technical Services' 'Policy'
 'Training & Development' 'Management & Change Consulting'
 'Banking & Finance Law' 'CEO' 'Police & Corrections'
 'Indigenous & Multicultural Services' 'Merchandisers'
 'Data Entry & Word Processing' 'Gaming' 'Fundraising' 'Event Management'
 'Environment & Sustainability Consulting' 'Personal Injury Law'
 'Industrial & Employee Relations' 'Residents & Registrars'
 'Cost Accounting' 'Dieticians' 'Brokerage' 'Automotive Engineering'
 'Landscape Architecture' 'Volunteer Coordination & Support'
 'Oil & Gas - Production & Refinement'
 'Banking - Corporate & Institutional' 'Performing Arts' 'Family Law'
 'Nannies & Babysitters' 'Teaching Aides & Special Needs'
 'Conservation, Parks & Wildlife' 'Oil & Gas - Drilling' 'Tutoring'
 'Settlements' 'Risk Consulting' 'Environmental Services'
 'Mathematics, Statistics & Information Sciences' 'Underwriting'
 'Airlines' 'Insolvency & Corporate Recovery' 'Agronomy & Farm Services'
 'Engineering - Hardware' 'Winery & Viticulture'
 'Public Relations & Corporate Affairs' 'Fleet Management'
 'Superannuation' 'Photography' 'Computer Operators'
 'Public Transport & Taxi Services' 'Assessment' 'Internal Communications'
 'Criminal & Civil Law' 'Trade Marketing' 'Organisational Development'
 'Aerospace Engineering' 'Food Technology & Safety'
 'Intellectual Property Law' 'Biotechnology & Genetics' 'Art Direction'
 'Chiropractic & Osteopathic' 'Pattern Makers & Garment Technicians'
 'Materials Handling Engineering' 'Oil & Gas - Exploration & Geoscience'
 'Local Government' 'Air Force' 'Inventory & Fixed Assets' 'Treasury'
 'Government' 'Supervisors' 'Valuation' 'Materials Sciences' 'Navy'
 'Corporate Development' 'Forensic Accounting & Investigation' 'Actuarial'
 'Board Appointments' 'COO & MD' 'Modelling & Simulation' 'Floristry'
 'Fund Administration' 'Army' nan]
Job Type: [nan 'Full Time' 'Contract/Temp' 'Part Time' 'Casual/Vacation']
Lowest Salary: [0, 200] (mathematical domain)
Highest Salary: [30, 999] (mathematical domain)
Average Salary: [15.0, 599.5] (mathematical domain)
Salary Range: [10, 799] (mathematical domain)